@tailwind base;
@tailwind components;
@tailwind utilities;


.login_ways
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login_ways img
{
    display: inline;
    margin-right: 1rem;
}